@import "normalize";
$main-color: #b38ddf;
%nostyle-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin r_t_w_i ($url, $width, $height) {
    width: $width;
    height: $height;
    background: url($url) no-repeat;
    background-size: 100% 100%;
    text-indent: 110%;
    /*首排縮排*/
    overflow: hidden;
    white-space: nowrap;
    /*任何地方都不要換行(我的標題不管多長都不要換行)*/
}

@keyframes cat {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 0px -240px;
    }
    100% {
        background-position: 0px 0px;
    }
}

html {
    font-size: 16px;
    /*font-family: sans-serif;*/
    font-family: Microsoft JhengHei;
    line-height: 1.4;
    color: #555;
}

img {
    max-width: 100%; //最大的圖片寬度不要超出整個網頁的寬
}

a {
    color: #009ced;
    text-decoration: none;
}

a:hover {
    color: #0081c3;
    text-decoration: underline;
}

.container {
    width: 1080px;
    margin: 0 auto;
    /*上下 左右*/
}

.top-menu {
    background: $main-color;
    height: 36px;
    ul {
        @extend %nostyle-list;
        display: flex;
        justify-content: flex-end;
    }
    a {
        display: block;
        width: 90px;
        height: 36px;
        line-height: 36px;
        /*限單行使用*/
        color: #fff;
        text-align: center;
        text-decoration: none;
        transition-property: background;
        transition-duration: .5s;
        &:hover {
            // background: mix(#460a8b, #fff, 50);
            background: darken(#b38ddf, 10);
        }
    }
    i {
        margin-right: 5px;
        /*因為是空左右的間距  所以用margin*/
    }
}

h1.logo {
    margin: 0;
    img {
        display: block;
        width: 250px;
        height: 62px;
    }
}

.top-block {
    height: 80px;
    /*background: #ddd;*/
    .container {
        display: flex;
        /*由左至右依序排列*/
        justify-content: space-between;
        align-items: flex-end;
        padding: 9px 0;
    }
}

.search {
    position: relative;
    input {
        width: 250px;
        /*加上padding-left後  所以要把原本的285-35 這樣框才不會太長*/
        height: 28px;
        border: #ddd 2px solid;
        /*align-items: baseline;*/
        padding-left: 35px;
        /*往左推35px*/
        border-radius: 17px;
    }
    i {
        position: absolute;
        /*推icon*/
        top: 9px;
        left: 9px;
    }
    input:focus {
        /*調整focus框框*/
        outline: none;
        /*把預設的外框拿掉*/
        border-color: #009ced;
        /*換成藍色邊框*/
        box-shadow: #c68ce0 0 0 10px;
        /*加上紫色陰影  第一個值是x 0px  第二y 0px  第三10px寬*/
    }
}

.main-menu {
    height: 38px;
    border-top: rgb(177, 177, 177) 1px solid;
    border-bottom: rgb(177, 177, 177) 1px solid;
    button {
        display: none;
    }
    ul {
        @extend %nostyle-list;
        display: flex;
        /*由左至右依序排列的元素*/
        /*justify-content: space-around;*/
    }
    li {
        flex: 0 0 20%;
        /**/
    }
    a {
        display: block;
        /*改當區塊元素*/
        height: 38px;
        line-height: 38px;
        /*限單行使用*/
        color: #3d4143;
        text-align: center;
        text-decoration: none;
        &:hover {
            background: $main-color;
            color: #fff
        }
    }
}

.index-image {
    height: 400px;
    background: url(../images/index-image.jpg) center center no-repeat;
    background-size: cover;
    .container {
        position: relative;
        height: 100%;
        //因為h2設為絕對定位  會超脫世俗  所以撐不起container的高 導致h2顯示不出來 所以設一個高給container
        //100%代表往上找.index-image的高  所以會是400px
    }
    /*相對位子定位*/
    h2 {
        font-size: 50px;
        color: #fff;
        /*為了支援舊版瀏覽器  先設一個白色*/
        color: rgba(255, 255, 255, 0.8);
        /*若瀏覽器看得懂 這句會把上面那句覆蓋*/
        text-shadow: rgba(#fff, 0.8) 0 0 0, rgba(#000, 0.8) 0 0 5px; //加陰影 x不位移 y不位移 邊寬5px
        position: absolute;
        /*絕對定位  需要一個參照容器 所以上面有position: relative;*/
        margin: 0 0 0 150px;
        left: 50%;
        //上面 原本要依中線定位 為了修改視窗大小  所以改變(改變的地方在最下面)
        bottom: 80px;
        span {
            display: block;
            /*用區塊做出斷行的效果*/
            position: relative;
            /*需要一個相對位子 才能把推文字*/
            left: 2em;
            /*推兩個字的距離*/
        }
    }
}

.new-item {
    padding: 40px 0;
    ul {
        @extend %nostyle-list;
        display: flex;
        /*由左至右依序排列的元素*/
        justify-content: space-between;
    }
    li {
        flex: 0 0 340px;
    }
}

.featured-item {
    background: #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    h2 {
        color: $main-color;
        font-size: 2rem;
        text-align: center;
        margin: 0;
        padding-top: 0;
        padding-bottom: 30px;
    }
    .item-content {
        display: flex;
    }
    .item-img {
        /*width: 360px;*/
        flex: 0 0 360px;
        margin-right: 30px;
    }
    .item-text {
        flex: 1;
        /*自動填滿*/
    }
    h3 {
        margin-top: 0;
        font-size: 1.5rem;
    }
    .user {
        /* display: flex;
        align-items: center;
        justify-content: flex-end;*/
        /*-----兩個方式都可以-----*/
        margin-top: 30px;
        float: right;
        img {
            display: inline-block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-left: 10px;
            vertical-align: middle;
        }
    }
}

.news-and-principle {
    margin: 0;
    padding: 40px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .news {
        /* width: 750px;*/
        //flex: 0 0 750px;  
        //當display設為flex的時候盡量用flex  不要用width 因為現在是左右分割  所以flex: 0 0 750px 的750px是代表寬(如果是上下分割就代表高)
        flex: 1; // 因考慮視窗大小 所以改成自動延展縮減填滿 等於flex-grow: 1;   
        min-width: 0;
        h2 {
            margin: 0 0 20px;
            @include r_t_w_i("../images/news-title@2x.png", 120px, 36px);
        }
        ul {
            @extend %nostyle-list;
        }
        li {
            padding: 8px;
            border-bottom: #ddd 1px dotted;
        }
        a {
            display: block;
            /*先變成區塊元素*/
            white-space: nowrap;
            /*讓內容完全不換行*/
            overflow: hidden;
            /*超出範圍的都藏起來*/
            text-overflow: ellipsis;
            /*超過範圍的文字變成...*/
        }
        li:nth-child(even) {
            background: #f5f5f5;
        }
    }
    .principle {
        /*width: 280px;*/
        flex: 0 0 280px;
        // margin-left: auto;
        margin-left: 30px; //.news改成自動填滿後 要再留個間距
        display: flex;
        flex-direction: column-reverse; //上下顛倒
        color: white;
        .principle-content {
            background: $main-color;
            padding: 10px;
        }
        h2 {
            display: block;
            margin: 0;
            height: 60px;
            padding: 20px;
            background: #5f5547;
            position: relative;
            &::before {
                content: "";
                display: inline-block;
                width: 60px;
                height: 60px;
                background: #fff url(../images/cat-head-animate@2x.png) no-repeat;
                background-size: 60px 300px;
                border-radius: 50%;
                vertical-align: middle;
                position: relative;
                animation-name: cat;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;
                animation-timing-function: steps(4);
            }
            &::after {
                content: "";
                display: block;
                position: absolute; //絕對定位  直接指定位子給他 所以放before或after的結果都一樣
                /*
                border-top: red 8px solid;
                border-right: transparent 8px solid;
                border-bottom: transparent 8px solid;
                border-left: transparent 8px solid;*/
                width: 0px;
                height: 0px;
                border: transparent 8px solid;
                border-top: $main-color 8px solid;
                top: 0;
                left: 40px;
            }
        }
        /* h2 img {
            display: none;
            width: 60px;
            height: 60px;
            background-size: 60px, 60px;
            background-position: 60px, 60px;
            border-radius: 50%;
            vertical-align: middle;
            background: white;
        }*/
        li {
            margin: 10px;
            font-size: 18px;
        }
    }
}

.page-footer {
    padding: 40px 0;
    background: #3d4143;
    color: white;
    text-align: center;
    ul {
        @extend %nostyle-list;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    li {
        flex: 0 0 340px;
    }
    ul .business-hours {
        flex: 0 0 100%;
    }
    /* 上面兩個可以直接變這個 */
    /* li:not(:last-child) {
         flex: 0 0 340px;
    }*/
    .business-hours {
        margin-top: 20px;
    }
    .copyright {
        margin-top: 20px;
    }
}

@media screen and(max-width: "1140px") {
    .container {
        width: 820px;
    }
    .index-image h2 {
        left: auto;
        margin: 0;
        right: 2em;
    }
    .new-item li {
        flex: 0 0 260px;
    }
    .page-footer li {
        flex: 0 0 260px;
    }
}

@media screen and(max-width: "880px") {
    .container {
        width: 740px;
    }
    .new-item ul {
        flex-direction: column; //改成從上往下排
    }
    .new-item li {
        display: flex;
        flex-basis: auto; //不設這個會發現div的高會有260px  但行高應該要自己設 所以先設為auto
        margin-bottom: 20px;
    }
    li:last-child {
        margin-bottom: 0px;
    }
    /*  .new-item .new-text {
        flex: 1;
        margin-left: 30px;
    }*/
    /*如果想要圖片保持原樣可以用上面  下面三個是把整個縮小*/
    li>a {
        //>a表示只找li下一層的a
        flex: 0 0 200px;
        margin-right: 30px;
    }
    li>div {
        flex: 1;
    }
    li h2 {
        margin-top: 0;
    }
    .news-and-principle .container {
        flex-direction: column;
        .news {
            margin-bottom: 40px;
        }
        .principle {
            margin-left: 0;
            flex-basis: auto; //不要原本設的260了
            flex-direction: column;
            h2 {
                background: transparent; //變透明
                color: #3d4143;
                padding: 0;
            }
            h2::before {
                border: $main-color 5px solid;
            }
            h2::after {
                display: none; //讓三角形區塊消失不見
            }
            ol {
                list-style: none;
            }
            ol li {
                position: relative; //給一個相對位子作為絕對位子參照的容器
            }
            ol li::before {
                width: 20px;
                height: 20px;
                display: block;
                border-radius: 50%;
                background: white;
                color: $main-color;
                text-align: center;
                line-height: 20px;
                position: absolute; //把圈圈用絕對定位的方式放在左側開頭
                top: 2px;
                left: -25px; //因為絕對定位會超脫世俗  所以不會自己擠到文字  所以要自己往左移
            }
            ol li:nth-child(1)::before {
                content: "1";
            }
            ol li:nth-child(2)::before {
                content: "2";
            }
            ol li:nth-child(3)::before {
                content: "3";
            }
        }
    }
    .page-footer {
        ul {
            flex-direction: column;
        }
        li {
            flex-basis: auto;
        }
    }
}

@media screen and(max-width: "767px") {
    .container {
        width: 90%;
    }
    .item-content {
        flex-direction: column;
        .item-img {
            flex-basis: auto;
            margin: 0 0 20px;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        .item-text {
            text-align: center;
        }
    }
}

@media screen and(max-width: "640px") {
    .top-block {
        //margin-bottom: 40px;
        height: auto;
        .container {
            //margin: 0;
            flex-direction: column;
            align-items: center;
        }
    }
    h1.logo {
        margin-bottom: 10px;
    }
    .search {
        input {
            width: 480px;
        }
    }
    .main-menu {
        position: relative;
        .container {
            width: 100%;
        }
        ul {
            flex-direction: column;
            position: absolute;
            top: 40px;
            width: 100%;
            background: rgba(#fff, 0.9);
            z-index: 5; //z-index是深度的推移  把menu往前搬
            a {
                margin: 0;
            }
        }
        button {
            display: block;
            background: white;
            border: none;
            width: 100%;
            height: 40px;
            i {
                margin-left: 5px;
            }
        }
    }
}

@media screen and(max-width: "550px") {
    .index-image h2 {
        font-size: 35px;
    }
    .search {
        input {
            width: 300px;
        }
    }
    .new-item li {
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
            margin-top: 10px;
        }
    }
    .news-and-principle .news a {
        white-space: normal; //恢復正常
    }
}